//TEMP list view
.view-list-view-page {
  .views-row {
    clear: both;
    .field-name-field-image {
      float: left;
      margin-right: 30px;
    }
    .views-field-title {
      margin-left: 222px;
      font-weight: bold;
      color: #3c4b55;
      h2 {
        font-size: 1.333em;
        margin: 0;
      }
    }
    .field-name-field-date-display {
      margin-left: 222px;
      font-size: 0.800em;
      color: #888;
    }
    .tags-field {
      margin-left: 222px;
      .field-name-field-tags {
        display: inline-block;
        a {
          border-right: 1px solid #0088cc;
          padding-right: 4px;
        }
      }
    }

    .field-name-body {
      margin-left: 222px;
    }
    .views-field-view-node {
      float: right;
      margin-left: 222px;
    }
  }
}